{% extends 'layout/layout.twig' %}

{% block content %}

    {#{% for dash in data.dashboard %}#}
        {#{% include dash.template with dash %}#}
    {#{% endfor %}#}

    <div class="gridster">
        <ul>
            {% for wname, widget in data.widgets %}
                <li style="position: absolute;" data-row="1" data-col="1" data-sizex="2" data-sizey="2">
                    {% include widget.template with widget %}
                </li>
            {% endfor %}
        </ul>
    </div>

    <a align="center" id="scrollTop" href="#" onclick="top.goTop();return false;"></a>

{% endblock content %}

{% block script %}
    <script>
        $(function () {
            Reload_widgets();
        });
    </script>
{% endblock script %}
