
<div class="view_header" style="margin-bottom: 12px">
    <div class="title" ><h1 style="line-height: 1;word-break: break-word;">{{ translate('Search results for term') ~ ' "' ~ viewboxparams.q ~ '"' }}</h1></div>
</div>
