<div class="signout">

    <div class="bord">
        <table style="margin: auto;">
            <tr>
                <td>
                    You are now signed out of Wepo CRM.
                    <a href="{{ url('common', { 'data':'signin'}) }}" title="Sign In">Sign In</a>
                </td>
            </tr>
        </table>
    </div>

</div>

