{% extends 'partial/add.twig' %}
{% block upperform %}
<div class="table" onKeyUp="test();" onKeyPress="PutToPrice();" onClick="PutToPrice();">
    <h2>{{ translate('Total price : ') }}<span id="showTotalPrice"><b>0 $</b></span></h2>
    <div class="hide">
        <select name="prices"  id="prices">
            {% for key,value in prices %}
                <option value={{key}}>{{value}}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endblock upperform %}

{% block script %}
    {{ parent() }}
    <script>
        $( function(){
            $('#product_id,#modifier,#price_type,#price').change( PutToPrice );
        });

        function test ()
        {
            var price = 0;
            var disc = 0;
            var priceType = 0;
            var res = NaN;
            price = parseFloat(document.getElementById("product_price").value);
            disc = parseFloat(document.getElementById("modifier").value);
            priceType = document.getElementById("price_type").value;
            if (isNaN(price))
            {
                document.getElementById("showTotalPrice").innerHTML = "<b>0 $ </b>";
            }
            if (!isNaN(price))
            {
                res = price;
                if (!isNaN(disc))
                {
                    if (priceType==='static')
                    {
                        res = disc;
                    }
                    else
                    {
                        res = price/100*disc;
                    }
                }
                res = res.toFixed(2);
                document.getElementById("showTotalPrice").innerHTML= "<b>"+res+" $ </b>";
            }
        }

        function PutToPrice()
        {
            var price;
            price = document.getElementById('product_price');
            price.value = price.value;
            test ();
        }
    </script>
{% endblock script %}

{% block style %}
        <style type="text/css">
                <!--
                .hide {
                    overflow:hidden;
                    display: none;
                }
        </style>
{% endblock style %}
