{% extends 'layout/layout.twig' %}
{% set title = translate('pricebook') %}
{% block title %}{{parent()}} - {{ title }}{% endblock title %}
{% block content %}
<h1>pricebook development start</h1>
{% endblock content %}
