<h1>{{ title }}</h1>

<div class="viewtable">
    <select class="select2" style="width: 300px;" data-scope="lead">
        <option value="-1">Please select a lead</option>
        <option value="54c0f8cf5d257b7e18904d46" selected="selected">Kelly Mecca</option>
    </select>
</div>

