{% extends 'layout/layout.twig' %}
{% block title %}{{ parent() }} - {{ title }}{% endblock title %}
{% block content %}
    <h1>{{ translate('Search results for') }} <b>"{{ search_query }}"</b>: </h1>
{% endblock content %}
