{% extends 'layout/layout.twig' %}
{% block content %}
<div>
    {% for model in models %}
            {{loop.index}} <a href="{{ url( action, { 'action': 'test' } )~'?m='~loop.index0 }}">{{model.model}}</a><br/>
    {% endfor %}
    </div>
{% endblock content %}
