<font color="#0065cc" face="verdana">Hello Valued Patient,</font>
<div><font color="#0065cc" face="verdana"><br></font></div>
<div><font color="#0065cc" face="verdana"><br></font></div>
<div><font color="#0065cc" face="verdana"><br></font></div>
<div><font face="verdana"><font color="#0065cc">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; I am reaching-out to
            you with a </font><b><font color="#009900">VERY RARE OPPORTUNITY</font><font
                color="#0065cc">.</font></b><font color="#0065cc"> &nbsp;As the clinic is trying to reach our quotas for
            this month, I have been authorized to offer the patients I work with a 10% discount on all medications
            (excluding Sermorelin GHRP-2 and GHRP-6). &nbsp;The discount </font><font color="#009900">does
            not </font><font color="#0065cc">apply to syringes, alcohol swabs, sharps containers or the overnight
            shipping. &nbsp;Whether you are ready/due to order or you are part way through your therapy this is
            something to take advantage of. &nbsp;Discounts like this will only come once in a year's time. &nbsp;I can
            assure you of that. &nbsp;Please contact me for any questions you may have or to place your order. &nbsp;I
            am here to help and happy to do so. &nbsp;Thank you.</font></font></div>
<div><font face="verdana"><font color="#0065cc"><br></font></font></div>
<div><br></div>
<div><font color="#0065cc" face="verdana"><br></font></div>
<div><font color="#0065cc" face="verdana"><br></font></div>
<div><font color="#0065cc" face="verdana"><b>------WE HAVE NEVER OFFERED DISCOUNTS LIKE THIS BEFORE----TAKE ADVANTAGE
            WHILE YOU CAN!!!!!!------&nbsp;</b></font></div>
<div><br></div>
<div><br></div>
<div><br></div>
<div><b style="color: rgb(204, 102, 0); font-family: verdana;">THIS &nbsp;DISCOUNT OPPORTUNITY WILL ONLY BE IN EFFECT
        TODAY (WED. 10/09/14) THROUGH TO (THURS. 10/16/14).&nbsp;</b></div>
<div><font face="verdana" color="#cc6600"><b><br></b></font></div>
<div><font face="verdana" color="#cc6600"><b><br></b></font></div>
<div><font face="verdana" color="#cc6600"><b><br></b></font></div>
<div><font face="verdana" color="#cc6600"><b><br></b></font></div>
<div><font face="verdana" color="#cc6600"><b><br></b></font></div>
<div><font face="verdana" color="#cc6600"><b><br></b></font></div>
<div>
    <div style="color: rgb(34, 34, 34); font-family: arial; font-size: small; background-color: rgb(255, 255, 255);"><b><font
                size="2" color="#0b5394" face="verdana, sans-serif"><br class="Apple-interchange-newline">Kindest
                regards,</font></b></div>
    <div style="color: rgb(34, 34, 34); font-family: arial; font-size: small; background-color: rgb(255, 255, 255);"><b><font
                color="#6aa84f" size="2" face="verdana, sans-serif"><br></font></b></div>
    <div style="color: rgb(34, 34, 34); font-family: arial; font-size: small; background-color: rgb(255, 255, 255);"><b><font
                color="#6aa84f" size="2" face="verdana, sans-serif">Zander TeVault</font></b></div>
    <div style="color: rgb(34, 34, 34); font-family: arial; font-size: small; background-color: rgb(255, 255, 255);">
        <font color="#0b5394" size="2" face="verdana, sans-serif">Program Advisor<br></font></div>
    <div style="color: rgb(34, 34, 34); font-family: arial; font-size: small; background-color: rgb(255, 255, 255);">
        <font color="#0b5394" size="2" face="verdana, sans-serif"><br></font></div>
    <div style="color: rgb(34, 34, 34); font-family: arial; font-size: small; background-color: rgb(255, 255, 255);">
        <font color="#0b5394" size="2" face="verdana, sans-serif">A referral is the most sincerest form of flattery.
            &nbsp;:)</font></div>
    <font color="#3333ff" size="2" face="verdana, sans-serif"
          style="font-size: small; background-color: rgb(255, 255, 255);"></font>

    <div style="color: rgb(34, 34, 34); font-family: arial; font-size: small; background-color: rgb(255, 255, 255);">
        <div><font color="#006600" size="2" face="verdana, sans-serif"><b><br></b></font>

            <div><font color="#6aa84f" size="2" face="verdana, sans-serif">Kingsberg Medical</font></div>
            <div><font size="2" face="verdana, sans-serif"><font color="#0b5394">Have a great day</font><font
                        color="#6aa84f">&nbsp;&amp;&nbsp;</font></font></div>
            <div><font color="#6aa84f" size="2" face="verdana, sans-serif">Live Youthfully :)</font></div>
        </div>
        <div><font size="2" face="verdana, sans-serif"><font color="#0b5394">e-mail:</font><font color="#6aa84f">
                    &nbsp;<u><a href="mailto:zandertevault@hgh1.com" target="_blank" style="color: rgb(17, 85, 204);">zandertevault@hgh1.com</a></u></font></font>
        </div>
        <div><span style="color: rgb(11, 83, 148);"><font size="2" face="verdana, sans-serif">Clinic: &nbsp;877-321-8885
                    ext. 108</font></span></div>
        <div><font color="#0b5394" size="2" face="verdana, sans-serif">Cell: &nbsp; &nbsp;754-217-1472</font></div>
        <div><font color="#0b5394" size="2" face="verdana, sans-serif">e-fax: &nbsp;954-337-3779</font></div>
    </div>
</div>
<div><font face="verdana" color="#cc6600"><b><br></b></font></div>
