{% extends 'layout/layout.twig' %}
{#{% set title = translate('Model Admin') %}#}
{% block title %}{{ parent() }} - {{ title }}{% endblock title %}

{% block content %}

    <h1>Hi!</h1>


{% endblock content %}
