<!-- Lab Order -->

<table width="100%">
    <tbody>
    <tr>
        <td>
            <table
                style="BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-COLLAPSE: collapse; BORDER-TOP: medium none; BORDER-RIGHT: medium none"
                border="1" cellpadding="5" cellspacing="0" width="100%">
                <tbody>
                <tr>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BACKGROUND: rgb(217,217,217); BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid"
                        colspan="2" align="center"><strong>Patient Info/Lab Prescription Form</strong></td>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BACKGROUND: rgb(217,217,217); BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid"
                        colspan="6" align="center"><strong>Kingsberg Medical 2800 W St Rd 84 #188 Ft. Lauderdale, Fl
                            33312</strong></td>
                </tr>
                <tr>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BACKGROUND: rgb(217,217,217); BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid">
                        <strong>Patient Name:</strong></td>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid">
                        ${Accounts.Account Name}
                    </td>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BACKGROUND: rgb(217,217,217); BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid">
                        <strong>DOB:</strong></td>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid">
                        ${Contacts.Date of Birth}
                    </td>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BACKGROUND: rgb(217,217,217); BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid">
                        <strong>Sex:</strong></td>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid"
                        colspan="3">${Contacts.Gender}
                    </td>
                </tr>
                <tr>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BACKGROUND: rgb(217,217,217); BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid">
                        <strong>Address:</strong></td>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid">
                        ${SalesOrders.Billing Street}
                    </td>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BACKGROUND: rgb(217,217,217); BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid">
                        <strong>City:</strong></td>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid">
                        ${SalesOrders.Billing City}
                    </td>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BACKGROUND: rgb(217,217,217); BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid">
                        <strong>State:</strong></td>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid">
                        ${SalesOrders.Billing State}
                    </td>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BACKGROUND: rgb(217,217,217); BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid">
                        <strong>Zip:</strong></td>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid">
                        ${SalesOrders.Billing Code}
                    </td>
                </tr>
                <tr>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BACKGROUND: rgb(217,217,217); BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid">
                        <strong>Consultant:</strong></td>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid">
                        ${Contacts.Consultant}
                    </td>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BACKGROUND: rgb(217,217,217); BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid">
                        <strong>Phone:</strong></td>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid">
                        ${Contacts.Phone}
                    </td>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BACKGROUND: rgb(217,217,217); BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid">
                        <strong>Email:</strong></td>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid"
                        colspan="3">${Contacts.Email}
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table style="font-family: Arial,Helvetica,sans-serif; color: rgb(0, 0, 0); border-collapse: collapse;"
                   border="0" cellpadding="0" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <td style="font-weight: bold; background-color: rgb(234, 234, 234); border-top: 2px solid gray;"
                        align="center">Lab Panels Ordered
                    </td>
                    <td style="font-weight: bold; background-color: rgb(234, 234, 234); border-top: 2px solid gray; width: 150px;"
                        align="center">Labcorp Code
                    </td>
                    <td style="font-weight: bold; background-color: rgb(234, 234, 234); border-top: 2px solid gray; width: 100px;"
                        align="center">Price
                    </td>
                </tr>
                </thead>
                <tbody id="lineItem">
                <tr>
                    <td style="border: 1px solid rgb(0, 0, 0);">${Products.Product Name}</td>
                    <td style="border: 1px solid rgb(0, 0, 0);" align="center" valign="top">${Products.Description}</td>
                    <td style="border: 1px solid rgb(0, 0, 0); background-color: rgb(255, 204, 153);" align="center"
                        valign="top">${SalesOrders.Total}
                    </td>
                </tr>
                </tbody>
                <tbody>
                <tr>
                    <td rowspan="2" style="border: 1px solid rgb(0, 0, 0);" align="center"></td>
                    <td style="border: 1px solid rgb(0, 0, 0);" align="center"></td>
                    <td style="border: 1px solid rgb(0, 0, 0); background-color: rgb(255, 204, 153);"
                        align="center"></td>
                </tr>
                <tr>
                    <td style="border: 1px solid rgb(0, 0, 0);" align="center">Total Bill Amount</td>
                    <td style="border: 1px solid rgb(0, 0, 0); background-color: rgb(255, 204, 153);" align="center"><b>${SalesOrders.Grand
                            Total}</b></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table
                style="BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-COLLAPSE: collapse; BORDER-TOP: medium none; BORDER-RIGHT: medium none"
                border="1" cellpadding="5" cellspacing="0" width="100%">
                <tbody>
                <tr>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BACKGROUND: rgb(217,217,217); BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid"
                        colspan="6" align="center"><strong>Kingsberg Medical Doctor Information</strong></td>
                </tr>
                <tr>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BACKGROUND: rgb(217,217,217); BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid">
                        <strong>Name:</strong></td>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid">
                        ${Contacts.Name (lab)}
                    </td>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BACKGROUND: rgb(217,217,217); BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid">
                        <strong>Phone:</strong></td>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid">
                        ${Contacts.Main Phone (lab)}
                    </td>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BACKGROUND: rgb(217,217,217); BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid">
                        <strong>Fax:</strong></td>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid">
                        ${Contacts.Main Fax (lab)}
                    </td>
                </tr>
                <tr>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BACKGROUND: rgb(217,217,217); BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid">
                        <strong>Address:</strong></td>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid">
                        ${Contacts.Address (lab)}
                    </td>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BACKGROUND: rgb(217,217,217); BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid">
                        <strong>City:</strong></td>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid">
                        ${Contacts.City (lab)}
                    </td>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BACKGROUND: rgb(217,217,217); BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid">
                        <strong>State:</strong></td>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid">
                        ${Contacts.State (lab)}
                    </td>
                </tr>
                <tr>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BACKGROUND: rgb(217,217,217); BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid">
                        <strong>NPI #</strong></td>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid">
                        ${Contacts.NPI №}
                    </td>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BACKGROUND: rgb(217,217,217); BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid"></td>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid"></td>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BACKGROUND: rgb(217,217,217); BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid">
                        <strong>Zip:</strong></td>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid">
                        ${Contacts.Zip (lab)}
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table
                style="BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-COLLAPSE: collapse; BORDER-TOP: medium none; BORDER-RIGHT: medium none"
                border="1" cellpadding="5" cellspacing="0" width="100%">
                <tbody>
                <tr>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BACKGROUND: rgb(217,217,217); BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid"
                        colspan="6" align="center"><strong>Credit Card / Lab Information</strong></td>
                </tr>
                <tr>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BACKGROUND: rgb(217,217,217); BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid">
                        <strong>Credit Card:</strong></td>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid">
                        ${Contacts.Credit Card Number}
                    </td>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BACKGROUND: rgb(217,217,217); BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid">
                        <strong>Lab Fax:</strong></td>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid">
                        ${Contacts.Lab Fax}
                    </td>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BACKGROUND: rgb(217,217,217); BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid">
                        <strong>ASAP:</strong></td>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid">
                        ${Contacts.ASAP}
                    </td>
                </tr>
                <tr>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BACKGROUND: rgb(217,217,217); BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid">
                        <strong>Exp/Security:</strong></td>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid">
                        ${Contacts.Expiration Date}/${Contacts.Sec Code}
                    </td>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BACKGROUND: rgb(217,217,217); BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid">
                        <strong>Lab Phone:</strong></td>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid">
                        ${Contacts.Lab Phone}
                    </td>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BACKGROUND: rgb(217,217,217); BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid">
                        <strong>Date of Appt:</strong></td>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid">
                        ${Contacts.Date of Appt.}
                    </td>
                </tr>
                <tr>
                    <td style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BACKGROUND: rgb(217,217,217); BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid">
                        <strong>Special Instructions:</strong></td>
                    <td colspan="8"
                        style="BORDER-BOTTOM: rgb(0,0,0) 1px solid; BORDER-LEFT: rgb(0,0,0) 1px solid; BORDER-TOP: rgb(0,0,0) 1px solid; BORDER-RIGHT: rgb(0,0,0) 1px solid">
                        ${Contacts.Special Instructions}
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
