{% extends 'layout/layout.twig' %}
{% set title = translate('New Model') %}
{% block title %}{{parent()}} - {{ title }}{% endblock title %}

{% block content %}
<h1>{{title}}</h1>
sdfsdfd
{% endblock content %}
