<!-- 1 VIAL Testosterone Cypionate -->

<table style="background-color: rgb(255, 255, 255); padding: 2px;" border="1" cellpadding="0" cellspacing="0"
       width="100%">
    <tbody>
    <tr>
        <td style="border: 1px solid rgb(0, 0, 0);">
            <table style="border-collapse: collapse; border: medium none;" border="1" cellpadding="5" cellspacing="0"
                   width="100%">
                <tbody>
                <tr>
                    <td colspan="8"
                        style="border: 1px solid rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(217, 217, 217);"
                        align="center"><strong>Patient Information/Script</strong></td>
                </tr>
                <tr>
                    <td style="border: 1px solid rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(217, 217, 217);">
                        <strong>Patient Name:</strong></td>
                    <td style="border: 1px solid rgb(0, 0, 0);">${Accounts.Account Name}</td>
                    <td style="border: 1px solid rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(217, 217, 217);">
                        <strong>DOB:</strong></td>
                    <td style="border: 1px solid rgb(0, 0, 0);">${Contacts.Date of Birth}</td>
                    <td style="border: 1px solid rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(217, 217, 217);">
                        <strong>Sex:</strong></td>
                    <td style="border: 1px solid rgb(0, 0, 0);" colspan="3">${Contacts.Gender}</td>
                </tr>
                <tr>
                    <td style="border: 1px solid rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(217, 217, 217);">
                        <strong>Address:</strong></td>
                    <td style="border: 1px solid rgb(0, 0, 0);">${SalesOrders.Shipping Street}</td>
                    <td style="border: 1px solid rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(217, 217, 217);">
                        <strong>City:</strong></td>
                    <td style="border: 1px solid rgb(0, 0, 0);">${SalesOrders.Shipping City}</td>
                    <td style="border: 1px solid rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(217, 217, 217);">
                        <strong>State:</strong></td>
                    <td style="border: 1px solid rgb(0, 0, 0);">${SalesOrders.Shipping State}</td>
                    <td style="border: 1px solid rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(217, 217, 217);">
                        <strong>Zip:</strong></td>
                    <td style="border: 1px solid rgb(0, 0, 0);">${SalesOrders.Shipping Code}</td>
                </tr>
                <tr>
                    <td style="border: 1px solid rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(217, 217, 217);">
                        <strong>Allergies:</strong></td>
                    <td style="border: 1px solid rgb(0, 0, 0);">${Contacts.Allergies}</td>
                    <td style="border: 1px solid rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(217, 217, 217);">
                        <strong>Phone:</strong></td>
                    <td style="border: 1px solid rgb(0, 0, 0);">${Contacts.Phone}</td>
                    <td style="border: 1px solid rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(217, 217, 217);">
                        <strong>DL#</strong></td>
                    <td style="border: 1px solid rgb(0, 0, 0);" colspan="3">${Contacts.Drivers License}</td>
                </tr>
                </tbody>
            </table>
            <table style="border-collapse: collapse; border: 1px solid rgb(0, 0, 0);" border="1" cellpadding="5"
                   cellspacing="0" width="100%">
                <thead>
                <tr>
                    <td style="border: 1px solid rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(217, 217, 217);">
                        <strong>Medication:</strong></td>
                    <td style="border: 1px solid rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(217, 217, 217);">
                        <strong>Sig/Directions:</strong></td>
                    <td style="border: 1px solid rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(217, 217, 217);">
                        <strong>#of vials/amount:</strong></td>
                </tr>
                </thead>
                <tbody id="XXXX">
                <tr>
                    <td style="border: 1px solid rgb(0, 0, 0);">Testosterone Cypionate (Watson Brand) 200mg/10ml</td>
                    <td style="border: 1px solid rgb(0, 0, 0);">One injection of 1cc / 200mg weekly</td>
                    <td style="border: 1px solid rgb(0, 0, 0);">1</td>
                </tr>
                </tbody>
            </table>
            <table style="border-collapse: collapse; border: medium none;" border="1" cellpadding="5" cellspacing="0"
                   width="100%">
                <tbody>
                <tr>
                    <td colspan="8" style="background: none repeat scroll 0% 0% rgb(217, 217, 217);" align="center">
                        <strong>Kingsberg Medical Doctor Information</strong></td>
                </tr>
                <tr>
                    <td style="border: 1px solid rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(217, 217, 217);">
                        <strong>Name:</strong></td>
                    <td style="border: 1px solid rgb(0, 0, 0);">${Contacts.Name}</td>
                    <td style="border: 1px solid rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(217, 217, 217);">
                        <strong>Phone:</strong></td>
                    <td style="border: 1px solid rgb(0, 0, 0);" colspan="2">${Contacts.Main Phone}</td>
                    <td style="border: 1px solid rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(217, 217, 217);">
                        <strong>Fax:</strong></td>
                    <td style="border: 1px solid rgb(0, 0, 0);" colspan="2">${Contacts.Main Fax}</td>
                </tr>
                <tr>
                    <td style="border: 1px solid rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(217, 217, 217);">
                        <strong>Address:</strong></td>
                    <td style="border: 1px solid rgb(0, 0, 0);">${Contacts.Address}</td>
                    <td style="border: 1px solid rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(217, 217, 217);">
                        <strong>City:</strong></td>
                    <td style="border: 1px solid rgb(0, 0, 0);" colspan="2">${Contacts.City}</td>
                    <td style="border: 1px solid rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(217, 217, 217);">
                        <strong>State:</strong></td>
                    <td style="border: 1px solid rgb(0, 0, 0);">${Contacts.State}</td>
                </tr>
                <tr>
                    <td style="border: 1px solid rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(217, 217, 217);">
                        <strong>License</strong></td>
                    <td style="border: 1px solid rgb(0, 0, 0);">${Contacts.License}</td>
                    <td style="border: 1px solid rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(217, 217, 217);">
                        <strong>DEA:</strong></td>
                    <td style="border: 1px solid rgb(0, 0, 0);" colspan="2">${Contacts.DEA}</td>
                    <td style="border: 1px solid rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(217, 217, 217);">
                        <strong>Zip:</strong></td>
                    <td style="border: 1px solid rgb(0, 0, 0);">${Contacts.Zip}</td>
                </tr>
                <tr>
                    <td style="border: 1px solid rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(217, 217, 217);">
                        <strong>Signature:</strong></td>
                    <td style="border: 1px solid rgb(0, 0, 0);"><br> <br> <br></td>
                    <td style="border: 1px solid rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(217, 217, 217);">
                        <strong>Date:</strong></td>
                    <td style="border: 1px solid rgb(0, 0, 0);" colspan="5">${SalesOrders.Due Date}<br></td>
                </tr>
                </tbody>
            </table>
            <table style="border-collapse: collapse; border: medium none;" border="1" cellpadding="5" cellspacing="0"
                   width="100%">
                <tbody>
                <tr>
                    <td colspan="8"
                        style="border: 1px solid rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(217, 217, 217);"
                        align="center"><strong>Shipping Information</strong></td>
                </tr>
                <tr>
                    <td style="border: 1px solid rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(217, 217, 217);">
                        <strong>Ship to Patient:</strong></td>
                    <td style="border: 1px solid rgb(0, 0, 0);" width="20px"></td>
                    <td style="border: 1px solid rgb(0, 0, 0); white-space: nowrap; font-size: 12px;" rowspan="4">
                        <strong>***Check all that apply***</strong></td>
                    <td style="border: 1px solid rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(217, 217, 217);">
                        <strong>Priority O.N.</strong></td>
                    <td style="border: 1px solid rgb(0, 0, 0);" width="20px"></td>
                    <td style="border: 1px solid rgb(0, 0, 0); white-space: nowrap; font-size: 12px;" rowspan="4">
                        <strong>***Check all that apply***</strong></td>
                    <td style="border: 1px solid rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(217, 217, 217);">
                        <strong>Sig. Required</strong></td>
                    <td style="border: 1px solid rgb(0, 0, 0);" width="20px"></td>
                </tr>
                <tr>
                    <td style="border: 1px solid rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(217, 217, 217);">
                        <strong>Ship to Clinic</strong></td>
                    <td style="border: 1px solid rgb(0, 0, 0);"></td>
                    <td style="border: 1px solid rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(217, 217, 217);">
                        <strong>Standard O.N.</strong></td>
                    <td style="border: 1px solid rgb(0, 0, 0);"></td>
                    <td style="border: 1px solid rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(217, 217, 217);">
                        <strong>Sig NOT Required</strong></td>
                    <td style="border: 1px solid rgb(0, 0, 0);"></td>
                </tr>
                <tr>
                    <td style="border: 1px solid rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(217, 217, 217);">
                        <strong>Patient Pick Up:</strong></td>
                    <td style="border: 1px solid rgb(0, 0, 0);"></td>
                    <td style="border: 1px solid rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(217, 217, 217);">
                        <strong>2<sup>nd</sup> day</strong></td>
                    <td style="border: 1px solid rgb(0, 0, 0);"></td>
                    <td style="border: 1px solid rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(217, 217, 217);">
                        <strong>Ship C.O.D.</strong></td>
                    <td style="border: 1px solid rgb(0, 0, 0);"></td>
                </tr>
                <tr>
                    <td style="border: 1px solid rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(217, 217, 217);">
                        <strong>Bill Patient</strong></td>
                    <td style="border: 1px solid rgb(0, 0, 0);"></td>
                    <td style="border: 1px solid rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(217, 217, 217);">
                        <strong>Ground</strong></td>
                    <td style="border: 1px solid rgb(0, 0, 0);"></td>
                    <td style="border: 1px solid rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(217, 217, 217);">
                        <strong>Special Sat. Delivery</strong></td>
                    <td style="border: 1px solid rgb(0, 0, 0);"></td>
                </tr>
                <tr>
                    <td style="border: 1px solid rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(217, 217, 217);">
                        <strong>Shipping Instructions:</strong></td>
                    <td style="border: 1px solid rgb(0, 0, 0);" colspan="7">${SalesOrders.Description}</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
